/* Mobile - up to 480px */
@media screen and (max-width: 480px) {
  #contact,
  footer {
    height: 50vh;
  }

  #profile {
    height: auto;
    margin-bottom: 0;
  }

  article {
    font-size: 0.9rem;
  }

  footer nav {
    margin-bottom: 2rem;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    font-size: 1.3rem;
  }

  .experience-sub-title {
    font-size: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .list-container li {
    font-size: 0.9rem;
  }

  .list-container li span {
    font-size: 0.85rem;
  }
}

/* Small Tablets - 481px to 600px */
@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
  }

  article {
    font-size: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .list-container li {
    font-size: 1rem;
  }

  .list-container li span {
    font-size: 0.9rem;
  }
}

/* Tablets - 601px to 768px */
@media screen and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .list-container li {
    font-size: 1rem;
  }

  .list-container li span {
    font-size: 0.9rem;
  }
  .article-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
    gap: 1rem; /* Reduce gap */
  }

  article {
    width: 100%; /* Take full width */
    max-width: 20rem; /* Set a max-width to control the size */
    justify-content: center; /* Center content */
    padding-top: 2px; /* Adjust padding */
  }
}

/* Desktop - 769px to 1400px */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }

  .list-container li {
    font-size: 1rem;
  }

  .list-container li span {
    font-size: 0.9rem;
  }
}

/* Large Desktop Optimizations - 1200px and larger */
@media screen and (min-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}
